{% load markup_tags %}
<div class="trip-detail">
  <h2>Trip: {{ trip.name }}</h2>
  {%  if request.user.is_authenticated %}
      {%  if is_signed %}
          <a href="{%  url 'trips:bail' trip.pk %}" class="btn btn-danger">Bail</a>
      {%  else %}
          <a href="{%  url 'trips:signup' trip.pk %}" class="btn btn-primary">Sign up</a>
      {%  endif %}
  {% endif %}

    {%  if request.user == trip.creator %}
        {% include 'trips/includes/trip_participants.html' with trip=trip %}
    {%  endif %}

  {% ifequal trip.start trip.end %}
    <p>{{ trip.start }}</p>
  {% else %}
    <p>{{ trip.start }} to {{ trip.end }}</p>
  {% endifequal %}
  {% if trip.creator %}<p>Organiser: {{ trip.creator.get_full_name }}</p>{% endif %}
  <p class="enable-white-space">{{ trip.description|apply_markup:'markdown' }}</p>
  {% if request.user == trip.creator %}
    <a href="{% url 'trips:edit' trip.pk %}" class="btn btn-info">Edit</a>
    <a href="{% url 'trips:delete' trip.pk %}" class="btn btn-danger">Delete</a>
  {% endif %}
</div>
