<div class="trip_list">
  {% if trips %}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>When</th>
          <th>Description</th>
          <th><span class="sr-only">Actions</span></th>
        </tr>
      </thead>
      <tbody>
        {% for trip in trips %}
        <tr>
          <td><a href="{{ trip.get_absolute_url }}">{{ trip.name }}</a></td>
          <td>
            {% ifequal trip.start trip.end %}
              {{ trip.start }}
            {% else %}
              {{ trip.start }} to {{ trip.end }}
            {% endifequal %}
          </td>
          <td>{{ trip.description | truncatechars:100 }}</td>
          <td>
            <a href="{{ trip.get_absolute_url }}" class="card-link">View</a>
            {% if request.user == trip.creator %}
              <a href="{% url 'trips:edit' trip.pk %}" class="card-link">Edit</a>
              <a href="{% url 'trips:delete' trip.pk %}" class="card-link">Delete</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>No upcoming trips</p>
  {% endif %}
</div>
