{%  load bootstrap %}
<form action="." method="post">
    {% csrf_token %}
    <div>
        Are you sure you want to bail?<br>
        By bailing you understand that you give up your place on this trip and that someone else may take your place
    </div>
  <div class="form-group">
    <input type="submit" value="Bail" class="btn btn-danger" role="button" />
      <a href="{%  url 'trips:detail' trip.pk %}" class="btn btn-warning">Back</a>
  </div>
</form>