<form action="." method="post">
  {% csrf_token %}
  <p>Are you sure you want to delete <em>{{ trip.name }}</em>?</p>
  <p>This cannot be undone.</p>
  <div class="form-group">
    <input type="submit" value="Delete" class="btn btn-danger" role="button" />
  </div>
</form>
