{% load bootstrap %}
<form action="." method="post">
  {% csrf_token %}
  {{ form|bootstrap }}
  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-success" role="button" />
  </div>
</form>
