<div>
    <i>Participants:</i>
    {% for participant in trip.participants.all %}
        <p>{{ participant.user.first_name }} {{ participant.user.last_name }} - {{ participant.user.email }}</p>
    {%  endfor %}
</div>