{%  load bootstrap %}
<form action="." method="post">
    {% csrf_token %}
    <div>
            By signing up to this trip you agree to the following:
        <ul>
            <li>You are responsible for your own safety.</li>
            <li>You understand the risks.</li>
            <li>You understand the consequences.</li>
            <li>You understand the difficulty level of the trip, and ensures you have both the fitness and skills required</li>
            <li>Are aware of intended route/s and potential options for alternative routes</li>
            <li>You bring appropriate gear for trip</li>
            <li>Ensure the trip leader is aware of any allergies.</li>
            <li>Responsible for sticking with the group</li>
            <li>Responsible for your own food or food arrangements</li>
            <li>Pay for your share fuel or any other expenses involved in trip (such as hut fees)</li>
            <li>Are aware of club refund policy (as specified on webpage), and club gear locker policy if hiring gear?</li>
        </ul>
    </div>

    <h3>Please answer the following questions</h3>

    <div class="form-group">
        <label class="form-label">
            <input type="checkbox" name="do_you_have_a_car_and_can_drive" onclick="javascript:toggleDiv('have_car');">
            You have a car and are willing and licensed to drive
        </label>
    </div>

    <div id="have_car" style="display: none" class="form-group">
        <label class="form-label">
            <select name="number_of_seats_including_yourself" class="form-contorl">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        <!--<input type="text" name="number_of_seats_including_yourself" class="form-control">-->
            Number of seat including yourself
        </label>
    </div>



    <div class="form-group form-check">
        <label class="form-check-label">
            <input type="checkbox" name="i_agree" class="form-check-input"> I Agree to the above conditions
            </label>
    </div>

    <div>
        Please click submit to complete your trip sign-up. If you change your mind or can no longer attend the trip, please contact the Trip Leader as soon as possible.
        You can expect to receive an email from the Trip Leader shortly to confirm attendance, equipment, and transport arrangements.
    </div>
  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-success" role="button" />
      <a href="{%  url 'trips:detail' trip.pk %}" class="btn btn-warning">Back</a>
  </div>
</form>