{% load markup_tags %}
<div class="meeting-detail">
  <h2>Meeting: {{ meeting.name }}</h2>
  <p>{{ meeting.when }}</p>
  <p class="enable-white-space">{{ meeting.description|apply_markup:'markdown' }}</p>
</div>
