<div class="meeting_list">
  {% if meetings %}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>When</th>
          <th>Where</th>
          <th><span class="sr-only">Actions</span></th>
        </tr>
      </thead>
      <tbody>
        {% for meeting in meetings %}
        <tr>
          <td><a href="{{ meeting.get_absolute_url }}">{{ meeting.name }}</a></td>
          <td>{{ meeting.when }}</td>
          <td>{{ meeting.location }}</td>
          <td><a href="{{ meeting.get_absolute_url }}" class="card-link">View</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>No upcoming meetings</p>
  {% endif %}
</div>
