body {
  background-color: #c9d8b6;
}

main .container {
  background-color: #ffffff;
}

.navbar-brand img {
  height: 40px;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 4rem;
}

.banner .text {
  background-color: rgba(255,255,255,0.8)
}

.enable-white-space {
  white-space: pre-line;
}
