{% extends 'base.html' %}

{% block title %}Meetings | MyCUTC{% endblock %}
{% block meetings-active %}active{% endblock %}

{% block main %}
  <div class="container py-4">
    {% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'meetings:index' %}">Meetings</a></li>
      </ol>
    </nav>
    {% endblock %}

    <h1>{% block page-header %}Meetings{% endblock %}</h1>

    {% block content %}{% endblock %}
  </div>
{% endblock main %}
