{% extends 'meetings/base.html' %}

{% block title %}{{ meeting.name }} | MyCUTC{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'meetings:index' %}">Meetings</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ meeting.name }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    {% include 'meetings/includes/meeting_detail.html' with meeting=meeting %}
{% endblock content %}
