{% extends "registration/registration_base.html" %}
{% load i18n bootstrap %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block page-header %}{% trans "Log in" %}{% endblock %}

{% block content %}

<div class="alert alert-primary">
  <p>
    You will need to <a href="{% url 'registration_register' %}">register an account</a>
    if this is your first time logging in.<br />
    This system is new for 2018, so even if you've had an account before you'll need to register.
  </p>
  <p class="mb-0">
    Anyone can create an account, but it will only let you in if you're a current paid member.
  </p>
</div>

<form method="post" action=".">
  {% csrf_token %}
  {{ form|bootstrap }}
  <div class="form-group">
    <input type="submit" class="btn btn-success" role="button" value="{% trans 'Log in' %}" />
  </div>
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>
  <a href="{% url 'registration_register' %}" class="btn btn-primary" role="button">{% trans "Register" %}</a>
</p>

<p>
  {% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.
</p>

{% endblock %}
