{% extends "registration/registration_base.html" %}
{% load i18n bootstrap %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block page-header %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<form method="post" action=".">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <input type="submit" class="btn btn-success" role="button" value="{% trans 'Reset password' %}" />
    </div></form>
{% endblock %}
