{% extends "registration/registration_base.html" %}
{% load i18n bootstrap %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block page-title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <input type="submit" class="btn btn-success" role="button" value="{% trans 'Change password' %}" />
    </div></form>
{% endblock %}
