{% extends 'base.html' %}

{% block title %}Accounts | MyCUTC{% endblock %}
{% block accounts-active %}active{% endblock %}

{% block main %}
  <div class="container py-4">

    <div class="row justify-content-center">
      <div class="col-8">
        <h1>{% block page-header %}Accounts{% endblock %}</h1>
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock main %}
