{% extends "registration/registration_base.html" %}
{% load i18n bootstrap %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block page-header %}{% trans "Register for an account" %}{% endblock %}

{% block content %}

<div class="alert alert-primary">
  <p class="mb-0">
    Your email address will need to match your email address from when you joined the club,
    otherwise you won't be recognised as a member.
  </p>
</div>

<form method="post" action=".">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class="form-group">
      <input type="submit" class="btn btn-success" role="button" value="{% trans 'Submit' %}" />
    </div>
</form>
{% endblock %}
