{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

      <script>
    function toggleDiv(divId) {
        $("#"+divId).toggle(500);
    }
    </script>

    <title>{% block title %}MyCUTC{% endblock title %}</title>
    {% block meta %}
    {% endblock meta %}
  </head>
  <body>
    {% block body %}

    {% block header %}
    <header>
      <div class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
          <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
            <img src="{% static 'img/mycutc_logo_white.svg' %}" alt="MyCUTC" class="d-inline-block align-middle my-2">
          </a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-reactid="9"><span class="navbar-toggler-icon" data-reactid="10"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item {% block index-active %}{% endblock %}">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item {% block trips-active %}{% endblock %}">
                <a class="nav-link" href="{% url 'trips:index' %}">Trips</a>
              </li>
              <li class="nav-item {% block meetings-active %}{% endblock %}">
                <a class="nav-link" href="{% url 'meetings:index' %}">Meetings</a>
              </li>
              <li class="nav-item {% block accounts-active %}{% endblock %}">
                {% if user.is_authenticated %}
                  <a class="nav-link" href="{% url 'auth_logout' %}">Logout</a>
                {% else %}
                  <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    {% endblock header %}

    {% block messages %}
      {% if messages %}
      <section class="container messages pt-3">
        {% for message in messages %}
        <div class="alert alert-info{% if message.tags %} {{ message.tags }}{% endif %}">
          {{ message }}
        </div>
        {% endfor %}
      </section>
      {% endif %}
    {% endblock messages %}

    <main role="main">
      {% block main %}
      {% endblock main %}
    </main>

    {% block footer %}
    <footer>
      <div class="container bg-light pt-3 pb-2 text-center small">

        <p>
          {% if user.is_authenticated %}
            <span>
              Logged in as <em>{{ user.email }}</em>
            </span>
          {% else %}
            <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
          {% endif %}
        </p>
        <p>
          MyCUTC &middot; <a href="https://cutc.nz">Canterbury University Tramping Club</a>
          {% if user.is_superuser %}
            &middot; <a class="text-danger" href="{% url 'admin:index' %}">Committee Admin</a>
          {% endif %}
        </p>
      </div>
    </footer>
    {% endblock footer %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock body %}
  </body>
</html>
