{% extends 'base.html' %}
{% load static %}

{% block title %}Home | MyCUTC{% endblock %}
{% block index-active %}active{% endblock %}

{% block main %}
  <div class="container banner" style="background-image: url({% static 'img/banner.jpg' %});">
    <div class="row">
      <div class="text col-lg-7 p-4">
        <h1 class="h2">
          Kia ora, welcome to MyCUTC
        </h1>
        <p class="lead">
          MyCUTC is the home of the Canterbury University Tramping Club's meetings and trips.
        </p>
        <p>
          This service is presently under construction, but you will soon be able to login, add and
          attend trips so long as you are a current member.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="py-4">
      <h2 class="h3">
        Upcoming Trips
        <small>
          <a href="{% url 'trips:index' %}">
            <span class="sr-only">All Trips</span>&raquo;
          </a>
        </small>
      </h2>
      {% include 'trips/includes/trip_list.html' with trips=upcoming_trips %}
    </section>
    <section class="py-4">
      <h2 class="h3">
        Upcoming Meetings
        <small>
          <a href="{% url 'meetings:index' %}">
            <span class="sr-only">All Meetings</span>&raquo;
          </a>
        </small>
      </h2>
      {% include 'meetings/includes/meeting_list.html' with meetings=upcoming_meetings %}
    </section>
  </div>
{% endblock main %}
