{% extends 'base.html' %}

{% block title %}Trips | MyCUTC{% endblock %}
{% block trips-active %}active{% endblock %}

{% block main %}
  <div class="container py-4">
    {% block breadcrumbs %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'trips:index' %}">Trips</a></li>
      </ol>
    </nav>
    {% endblock %}

    <h1>{% block page-header %}Trips{% endblock %}</h1>

    {% block content %}{% endblock %}
  </div>
{% endblock main %}
