{% extends 'trips/base.html' %}

{% block title %}Create Trip | MyCUTC{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'trips:index' %}">Trips</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Trip</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
    {% include 'trips/includes/trip_form.html' with form=form %}
{% endblock content %}
