{% extends 'trips/base.html' %}

{% block title %}Deleting {{ trip.name }} | MyCUTC{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'trips:index' %}">Trips</a></li>
    <li class="breadcrumb-item active" aria-current="page"><em>Deleting</em> {{ trip.name }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
  {% include 'trips/includes/trip_confirm_delete.html' with trip=trip %}
{% endblock content %}
