{% extends 'trips/base.html' %}

{% block content %}
  <p><a href="{% url 'trips:create' %}" class="btn btn-success" role="button">Create</a></p>
  {% include 'trips/includes/trip_list.html' with trips=upcoming_trips %}
{% endblock content %}
